Web Client/xml-resources/web-service-references/BankEmployeeWebService/wsdl/localhost_8080/Web_Service/BankEmployeeWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bank_web_services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bank_web_services/" name="BankEmployeeWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://bank_web_services/" schemaLocation="http://localhost:8080/Web_Service/BankEmployeeWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createEmployee">
<part name="parameters" element="tns:createEmployee"/>
</message>
<message name="createEmployeeResponse">
<part name="parameters" element="tns:createEmployeeResponse"/>
</message>
<message name="editEmployee">
<part name="parameters" element="tns:editEmployee"/>
</message>
<message name="editEmployeeResponse">
<part name="parameters" element="tns:editEmployeeResponse"/>
</message>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"/>
</message>
<message name="deleteEmployeeResponse">
<part name="parameters" element="tns:deleteEmployeeResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="searchForEmployee">
<part name="parameters" element="tns:searchForEmployee"/>
</message>
<message name="searchForEmployeeResponse">
<part name="parameters" element="tns:searchForEmployeeResponse"/>
</message>
<portType name="EmployeeWebService">
<operation name="createEmployee">
<input wsam:Action="http://bank_web_services/EmployeeWebService/createEmployeeRequest" message="tns:createEmployee"/>
<output wsam:Action="http://bank_web_services/EmployeeWebService/createEmployeeResponse" message="tns:createEmployeeResponse"/>
</operation>
<operation name="editEmployee">
<input wsam:Action="http://bank_web_services/EmployeeWebService/editEmployeeRequest" message="tns:editEmployee"/>
<output wsam:Action="http://bank_web_services/EmployeeWebService/editEmployeeResponse" message="tns:editEmployeeResponse"/>
</operation>
<operation name="deleteEmployee">
<input wsam:Action="http://bank_web_services/EmployeeWebService/deleteEmployeeRequest" message="tns:deleteEmployee"/>
<output wsam:Action="http://bank_web_services/EmployeeWebService/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://bank_web_services/EmployeeWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://bank_web_services/EmployeeWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="searchForEmployee">
<input wsam:Action="http://bank_web_services/EmployeeWebService/searchForEmployeeRequest" message="tns:searchForEmployee"/>
<output wsam:Action="http://bank_web_services/EmployeeWebService/searchForEmployeeResponse" message="tns:searchForEmployeeResponse"/>
</operation>
</portType>
<binding name="EmployeeWebServicePortBinding" type="tns:EmployeeWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchForEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankEmployeeWebService">
<port name="EmployeeWebServicePort" binding="tns:EmployeeWebServicePortBinding">
<soap:address location="http://localhost:8080/Web_Service/BankEmployeeWebService"/>
</port>
</service>
</definitions>